<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/projectckpoint.css">
    <title>Macon County | Department</title>
</head>
<body>
    <div id="container">

        <!-- Use the header area for the website name or logo -->
        <header classs="header">
            <div id="logo">
                <img class="logo_img" src="images/mock-macon-county-north-carolina.png" alt="macon-county-logo" >
            </div>

            <nav class="mynavbar">
                <!-- Hamburger icon -->
                <input class="side-menu" type="checkbox" id="side-menu" />
                <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

                <!-- Use the nav area to add hyperlinks to other pages within the website -->
                <ul class="menu">
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <a href="government.html">Government</a>
                        <ul class="subnav-menu">
                            <li><a href="county_commissioners.html">County Commissioners</a></li>
                            <li><a href="meeting_minutes.html">Meeting Minutes</a></li>
                            <li><a href="county_manager.html">County Manager</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="departments.html">Departments</a>
                        <ul class="subnav-menu">
                            <li><a href="health_department.html">Health Department</a></li>
                            <li><a href="finance_department.html">Finance Department</a></li>
                            <li><a href="planning_zoning.html">Planning & Zoning</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="residents.html">Residents</a>
                        <ul class="subnav-menu">
                            <li><a href="public_services.html">Public Services</a></li>
                            <li><a href="forms_permits.html">Forms & Permits</a></li>
                            <li><a href="fqa.html">FQA</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="visitors.html">Visitors</a>
                        <ul class="subnav-menu">
                            <li><a href="attractions.html">Attractions</a></li>
                            <li><a href="lodging.html">Lodging</a></li>
                            <li><a href="maps_directions.html">Maps & Directions</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="business.html">Business</a>
                        <ul class="subnav-menu">
                            <li><a href="permitting.html">Permitting</a></li>
                            <li><a href="economic_development.html">Economic Development</a></li>
                            <li><a href="chamber_commerce.html">Chamber of Commerce</a></li>
                        </ul>
                    </li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li>
                        <form class="search_bar" action="search_function.php">
                            <label for="searchText">Search Text</label>
                            <input type="text" placeholder="Search ..." name="search" id="searchText">
                            <button type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </nav>

        </header>

        <h1>Departments</h1>




        <!-- Use the main area to add the main content of the webpage -->
        <main>
            <h2>Our Departments</h2>

            <div class="grid">

                <div class="col-content">
                    <fieldset>
                        <legend><h3>Health Department</h3></legend>
                        <img src="images/healthdep.jpg" width="200" alt="orchid">
                        <p>
                            The Macon County Health Department serves many facets of our community. From the well being of children and adults
                            to the enviroment, our many services are broad-based. You'll find a listing of our sections below as well as the
                            county-wide services we provide.
                        </p>
                        <a href="health_department.html">More Details</a>
                    </fieldset>
                </div>

                <div class="col-content">
                    <fieldset>
                        <legend><h3>Finance Department</h3></legend>
                        <img src="images/financedep.jpg" height="125" width="200" alt="coleus">
                        <p>
                            The Macon County Finance Department provides accounting, accounts payable and receivable, payroll, and budgetary
                            services for most departments of Macon County Government. The Finance Department works to preserve and maintain
                            the County's financial integrity and trustworthiness by ensuring accurate & timely financial information and
                            strong internal accounting and budgetary controls.
                        </p>
                        <a href="finance_department.html">More Details</a>
                    </fieldset>
                </div>

                <div class="col-content">
                    <fieldset>
                        <legend><h3>Planning & Zoning</h3></legend>
                        <img src="images/housingdep.jpg" width="200" alt="begonia">
                        <p>
                            The Macon County Housing Department searches for and applies for all programs that provide the most home repair and
                            modification assistance available for assistance to households of low and moderate income, elderly, disabled and
                            other eligible household classifications that programs may designate.
                        </p>
                        <a href="planning_zoning.html">More Details</a>
                    </fieldset>
                </div>
            </div>
        </main>

        <!-- Use the footer area to add webpage footer content -->
        <footer>

            <p>

                Address: 123 Main St., Raleigh, NC 27000<br>
                Phone: (919)-123-4567 <br>
                Social media:
                <a href="https://twitter.com/i/flow/login"> <img src="images/logo.svg" alt="X"></a> |
                <a href="https://www.facebook.com/indexhtml"> <img src="images/Facebook-Brand-Asset-Pack/Facebook_Brand_Asset_Pack/Logo/Primary_Logo/Facebook_Logo_Primary.png" alt="Facebook"> </a> <br>
            </p>
        </footer>
    </div>
</body>
</html>